
#root,
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(./images/wall.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  background-color: aliceblue;
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 10px 10px;

}
.heading{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 580px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.button{
  position: relative;
  border-radius: 50px;
  height: 200px;
  width: 210px;
  opacity: 1;
  border: 1px solid rgba(22,76,167,0.6);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin-bottom: 20px;
}
.button span{
  letter-spacing: 0.7px;
  color:blue;
  font-size: 12px;
  font-weight: 500;
}
.button:hover{
  animation: rote  0.7s ease-in-out both  ;
}
.button:hover span{
  animation: stom 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
 @keyframes rote{
  0%{
    transform: rotate(-8deg) translate3d(0,0,20px);
  }
  25%{
    transform: rotate(-4deg) translate3d(0,0,20px);
  }
  50%{
    transform: rotate(5deg) translate3d(0,0,10px);
  }
  75%{
    transform: rotate(3deg) translate3d(0,0,0px);
  }
  100%{
    transform: rotate(0deg) translate3d(0,0,0px);
  }
 }
 @keyframes stom{
  0%{
    transform:  translate3d(0,0,0) translateZ(10px);
  }
  25%{
    transform:  translate3d(4px,0,0) translateZ(20px);
  }
  50%{
    transform:  translate3d(-3px,0,0) translateZ(30px);
  }
  75%{
    transform:  translate3d(2px,0,0) translateZ(100px);
  }
  100%{
    transform: translate3d(0,0,0);
  }
 }
@media only screen and (max-width:600px){
  .card{
    width: 80%;
    height: 25%;
  }
}